# Python & Notebooks
__pycache__/
.ipynb_checkpoints/
*.pyc
venv/
docs/
dataset/
models/
__pycache__/
*.pyc
# ==============================
# Machine Learning Models & Vectors
# ==============================
*.pkl
*.bin
*.faiss
*.npy
models/*
!models/.gitkeep

# ==============================
# Datasets
# ==============================
*.csv
*.xlsx
dataset/*
!dataset/.gitkeep